<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>
...
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}.
    </div>
{% endif %}
{% endwith %}
<form action="/login" method = "POST">
  <label for="email_id">Username:</label><br>
  <input type="text" id="email_id" name="email_id"><br>

  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password">
  <input type="submit" value="Submit">
</form>

</body>
</html>
