<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>
...
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}.
    </div>
{% endif %}
{% endwith %}

<form action="/signup" method = "POST">

  <label for="first_name">First Name:</label><br>
  <input type="text" id="first_name" name="first_name"><br>

  <label for="last_name">Last Name:</label><br>
  <input type="text" id="last_name" name="last_name"><br>

  <label for="email">Email Id:</label><br>
  <input type="text" id="email" name="email"><br>

  <label for="role">Role:</label><br>
  <input type="role" id="role" name="role"><br>


  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password">
  <input type="submit" value="Submit">
</form>

</body>
</html>
